@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar">
    <span class="navbar-title">Alphabet Soup</span>
    <span class="navbar-links">
        @if (_currentPath == "/")
        {
            <NavLink href="/about">About</NavLink>
        }
        else
        {
            <NavLink href="/">Word Search</NavLink>
        }
    </span>
</nav>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private string _currentPath = "/";

    protected override void OnInitialized()
    {
        _currentPath = new Uri(Navigation.Uri).AbsolutePath;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentPath = new Uri(e.Location).AbsolutePath;
        StateHasChanged();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
